.chapter-info {
  border: 2px solid rgba(41, 63, 22, 0.46);
  border-radius: 2em;
  background-color: rgba(41, 63, 22, 0.46);
  margin: 2% 0;
  padding-left: 2%;
  padding-top: 1%;
  margin-right: 2%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #696966;
}

.mark-complete {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #b9b8b3 50%,
    #b9b8b3 50%,
    #ffffff
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #000;
  cursor: pointer;
  margin-left: 35%;
}

.mark-complete:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.mark-complete:hover {
  background-position: 100% 0%;
}

#take-assessment {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #eed039 50%,
    #eb7445 50%,
    #e73a3a
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #000;
  cursor: pointer;
  margin-top: 10%;
  margin-left: 5%;
  position: fixed;
  left: 10px;
  bottom: 10px;
}

#take-assessment:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#take-assessment:hover {
  background-position: 100% 0%;
}

#set-availability {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #eed039 50%,
    #eb7445 50%,
    #e73a3a
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #000;
  cursor: pointer;
  margin-top: 10%;
  margin-right: 5%;
  position: fixed;
  right: 200px;
  bottom: 10px;
}

#set-availability:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#set-availability:hover {
  background-position: 100% 0%;
}

#create-assessment {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #eed039 50%,
    #eb7445 50%,
    #e73a3a
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #000;
  cursor: pointer;
  margin-top: 10%;
  margin-right: 5%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#create-assessment:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#create-assessment:hover {
  background-position: 100% 0%;
}

#delete-question {
  color: #f78d8d;
  transition: 0.4s;
}
#delete-question:hover {
  color: rgb(255, 0, 0);
}
